.App {
  text-align: center;
  color: white;
  background-color: black;
  font-size: 40px;
  font-weight: bold;
  padding: 1rem;
}

link {
  display: flex;
  background-color: darkslategrey;
  padding: 2rem;
}


